<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Página de Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/login_page_style.css}">
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <p>Bem-vindo de volta! Vamos conferir suas tarefas!</p>
        <form th:action="@{/login}" method="post">
            <section class="input_box">
                <input name="username" type="text" placeholder="E-mail">
            </section>
            <section class="input_box">
                <input name="password" type="password" placeholder="Senha">
            </section>
            <div th:if="${param.error}" class="error_text">
                <p>E-mail ou senha inválida! Por favor, tente novamente.</p>
            </div>
            <section id="button_box">
                <input type="submit" value="Entrar">
            </section>
        </form>
        <p>Não possuí uma conta? <a th:href="@{/register}">Cadastrar</a></p>
    </div>

    <script th:src="@{/script/login_page_script.js}"></script>
</body>
</html>