<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Tarefas Pendentes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Tarefas não concluidas:</h1>
    <a href="/home">Home</a>
    <br>
    <table>
        <thead>
        <tr>
            <th>Descrição</th>
            <th>Prioridade</th>
            <th>Completa</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.description}"></td>
            <td>
                <span th:if="${task.priority.getValue() eq 'high'}">alta</span>
                <span th:if="${task.priority.getValue() eq 'medium'}">média</span>
                <span th:if="${task.priority.getValue() eq 'low'}">baixa</span>
            </td>
            <td>
                <input type="checkbox" th:checked="${task.completed}" th:attr="taskId=${task.id}" onchange="updateCompletedField(this)">
            </td>
            <td>
                <a th:href="@{/tasks/update(id=${task.id})}">Atualizar</a>
                <a th:href="@{/tasks/delete(id=${task.id})}" onclick="return confirm('Tem certeza que quer excluir esta tarefa?')">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>

    <script>
        function updateCompletedField(element) {
            if (confirm('Tem certeza que quer marcar a tarefa como feita?')) {
                let taskId = element.getAttribute('taskId');
                window.location.href = "/tasks/update_completed_field?id=" + taskId;
            }
        }
    </script>
</body>
</html>