<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Página de Cadastro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/register_page.css}">
</head>
<body>
    <div class="form-container">
        <h1>Cadastro</h1>
        <p>Preencha os campos abaixo para realizar o seu cadastro!</p>

        <form method="post" th:action="@{/register}" th:object="${newUser}">
            <section class="input_box">
                <input type="text" id="name" th:field="*{name}" placeholder="Nome">
            </section>
            <div th:if="${#fields.hasErrors('name')}" class="error_text">
                <p th:errors="*{name}"></p>
            </div>

            <section class="input_box">
                <input type="text" id="email" th:field="*{email}" placeholder="E-mail">
            </section>
            <div th:if="${#fields.hasErrors('email')}" class="error_text">
                <p th:errors="*{email}"></p>
            </div>
            <div th:if="${emailInUse}" class="error_text">
                <p>E-mail já cadastrado!</p>
            </div>

            <section class="input_box">
                <input type="password" id="password" th:field="*{password}" placeholder="Senha">
            </section>
            <div th:if="${#fields.hasErrors('password')}" class="error_text">
                <p th:errors="*{password}"></p>
            </div>
            <div th:if="${invalidPassword}" class="error_text last_error_text">
                <p>A senha deve conter letras maísculas, minúsculas, símbolos e números</p>
            </div>

            <section id="button_box">
                <input type="submit" value="Cadastrar">
            </section>

            <p>Já possui uma conta? <a th:href="@{/login}">Entrar</a></p>
        </form>
    </div>
</body>
</html>